/* Reset. BEGIN */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reset. END */

/* Basic styles. BEGIN */

.box,
.row10,
.row12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box {
    position: relative;
    padding: 0 15px;
}
.row10,
.row12 {
    position: relative;
    margin: 0 -15px;
}
.box::before,
.box::after,
.row10::before,
.row10::after,
.row12::before,
.row12::after {
  display: table;
  line-height: 0;
  content: "";
}

.box::after,
.row10::after,
.row12::after {
  clear: both;
}
[class*="cell-"] {
    position: relative;
    float: left;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box.nopadding {
    padding: 0;
}
.box.nopadding .row {
    margin: 0;
}
.box.nopadding [class*="cell-"],
.row10.nopadding [class*="cell-"],
.row12.nopadding [class*="cell-"] {
    padding: 0;
}

/* Basic styles. END */

/* Grid. BEGIN */

[class*="cell-s"] {
    display: inline-block;
}

.cell-s0 { display: none; }

.row10 .cell-s1 { width: 10%; }
.row10 .cell-s2 { width: 20%; }
.row10 .cell-s3 { width: 30%; }
.row10 .cell-s4 { width: 40%; }
.row10 .cell-s5 { width: 50%; }
.row10 .cell-s6 { width: 60%; }
.row10 .cell-s7 { width: 70%; }
.row10 .cell-s8 { width: 80%; }
.row10 .cell-s9 { width: 90%; }
.row10 .cell-s10 { width: 100%; }

.row10 .offset-s1 { margin-left: 10%; }
.row10 .offset-s2 { margin-left: 20%; }
.row10 .offset-s3 { margin-left: 30%; }
.row10 .offset-s4 { margin-left: 40%; }
.row10 .offset-s5 { margin-left: 50%; }
.row10 .offset-s6 { margin-left: 60%; }
.row10 .offset-s7 { margin-left: 70%; }
.row10 .offset-s8 { margin-left: 80%; }
.row10 .offset-s9 { margin-left: 90%; }
.row10 .offset-s10 { margin-left: 100%; }

.row12 .cell-s1 { width: 8.333333333333333%; }
.row12 .cell-s2 { width: 16.66666666666667%; }
.row12 .cell-s3 { width: 25%; }
.row12 .cell-s4 { width: 33.33333333333333%; }
.row12 .cell-s5 { width: 41.66666666666667%; }
.row12 .cell-s6 { width: 50%; }
.row12 .cell-s7 { width: 58.33333333333333%; }
.row12 .cell-s8 { width: 66.66666666666667%; }
.row12 .cell-s9 { width: 75%; }
.row12 .cell-s10 { width: 83.33333333333333%; }
.row12 .cell-s11 { width: 91.66666666666667%; }
.row12 .cell-s12 { width: 100%; }

.row12 .offset-s1 { margin-left: 8.333333333333333%; }
.row12 .offset-s2 { margin-left: 16.66666666666667%; }
.row12 .offset-s3 { margin-left: 25%; }
.row12 .offset-s4 { margin-left: 33.33333333333333%; }
.row12 .offset-s5 { margin-left: 41.66666666666667%; }
.row12 .offset-s6 { margin-left: 50%; }
.row12 .offset-s7 { margin-left: 58.33333333333333%; }
.row12 .offset-s8 { margin-left: 66.66666666666667%; }
.row12 .offset-s9 { margin-left: 75%; }
.row12 .offset-s10 { margin-left: 83.33333333333333%; }
.row12 .offset-s11 { margin-left: 91.66666666666667%; }
.row12 .offset-s12 { margin-left: 100%; }

@media (min-width: 320px) {
    .box {
        margin: 0 auto;
        width: 320px;
    }
}

@media (min-width: 480px) {
    .box {
        margin: 0 auto;
        width: 480px;
    }
}

@media (min-width: 540px) {
    .box {
        margin: 0 auto;
        width: 540px;
    }
}

@media (min-width: 640px) {
    .box {
        margin: 0 auto;
        width: 640px;
    }
}

@media (min-width: 720px) {
    .box {
        margin: 0 auto;
        width: 720px;
    }

    [class*="cell-m"] {
        display: inline-block;
    }

    .cell-m0 { display: none; }

    .row10 .cell-m1 { width: 10%; }
    .row10 .cell-m2 { width: 20%; }
    .row10 .cell-m3 { width: 30%; }
    .row10 .cell-m4 { width: 40%; }
    .row10 .cell-m5 { width: 50%; }
    .row10 .cell-m6 { width: 60%; }
    .row10 .cell-m7 { width: 70%; }
    .row10 .cell-m8 { width: 80%; }
    .row10 .cell-m9 { width: 90%; }
    .row10 .cell-m10 { width: 100%; }

    .row10 .offset-m1 { margin-left: 10%; }
    .row10 .offset-m2 { margin-left: 20%; }
    .row10 .offset-m3 { margin-left: 30%; }
    .row10 .offset-m4 { margin-left: 40%; }
    .row10 .offset-m5 { margin-left: 50%; }
    .row10 .offset-m6 { margin-left: 60%; }
    .row10 .offset-m7 { margin-left: 70%; }
    .row10 .offset-m8 { margin-left: 80%; }
    .row10 .offset-m9 { margin-left: 90%; }
    .row10 .offset-m10 { margin-left: 100%; }

    .row12 .cell-m1 { width: 8.333333333333333%; }
    .row12 .cell-m2 { width: 16.66666666666667%; }
    .row12 .cell-m3 { width: 25%; }
    .row12 .cell-m4 { width: 33.33333333333333%; }
    .row12 .cell-m5 { width: 41.66666666666667%; }
    .row12 .cell-m6 { width: 50%; }
    .row12 .cell-m7 { width: 58.33333333333333%; }
    .row12 .cell-m8 { width: 66.66666666666667%; }
    .row12 .cell-m9 { width: 75%; }
    .row12 .cell-m10 { width: 83.33333333333333%; }
    .row12 .cell-m11 { width: 91.66666666666667%; }
    .row12 .cell-m12 { width: 100%; }

    .row12 .offset-m1 { margin-left: 8.333333333333333%; }
    .row12 .offset-m2 { margin-left: 16.66666666666667%; }
    .row12 .offset-m3 { margin-left: 25%; }
    .row12 .offset-m4 { margin-left: 33.33333333333333%; }
    .row12 .offset-m5 { margin-left: 41.66666666666667%; }
    .row12 .offset-m6 { margin-left: 50%; }
    .row12 .offset-m7 { margin-left: 58.33333333333333%; }
    .row12 .offset-m8 { margin-left: 66.66666666666667%; }
    .row12 .offset-m9 { margin-left: 75%; }
    .row12 .offset-m10 { margin-left: 83.33333333333333%; }
    .row12 .offset-m11 { margin-left: 91.66666666666667%; }
    .row12 .offset-m12 { margin-left: 100%; }
}

@media (min-width: 768px) {
    .box {
        margin: 0 auto;
        width: 768px;
    }
}

@media (min-width: 800px) {
    .box {
        margin: 0 auto;
        width: 800px;
    }
}

@media (min-width: 880px) {
    .box {
        margin: 0 auto;
        width: 880px;
    }
}

@media (min-width: 960px) {
    .box {
        margin: 0 auto;
        width: 960px;
    }
    
    [class*="cell-l"] {
        display: inline-block;
    }

    .cell-l0 { display: none; }

    .row10 .cell-l1 { width: 10%; }
    .row10 .cell-l2 { width: 20%; }
    .row10 .cell-l3 { width: 30%; }
    .row10 .cell-l4 { width: 40%; }
    .row10 .cell-l5 { width: 50%; }
    .row10 .cell-l6 { width: 60%; }
    .row10 .cell-l7 { width: 70%; }
    .row10 .cell-l8 { width: 80%; }
    .row10 .cell-l9 { width: 90%; }
    .row10 .cell-l10 { width: 100%; }

    .row10 .offset-l1 { margin-left: 10%; }
    .row10 .offset-l2 { margin-left: 20%; }
    .row10 .offset-l3 { margin-left: 30%; }
    .row10 .offset-l4 { margin-left: 40%; }
    .row10 .offset-l5 { margin-left: 50%; }
    .row10 .offset-l6 { margin-left: 60%; }
    .row10 .offset-l7 { margin-left: 70%; }
    .row10 .offset-l8 { margin-left: 80%; }
    .row10 .offset-l9 { margin-left: 90%; }
    .row10 .offset-l10 { margin-left: 100%; }

    .row12 .cell-l1 { width: 8.333333333333333%; }
    .row12 .cell-l2 { width: 16.66666666666667%; }
    .row12 .cell-l3 { width: 25%; }
    .row12 .cell-l4 { width: 33.33333333333333%; }
    .row12 .cell-l5 { width: 41.66666666666667%; }
    .row12 .cell-l6 { width: 50%; }
    .row12 .cell-l7 { width: 58.33333333333333%; }
    .row12 .cell-l8 { width: 66.66666666666667%; }
    .row12 .cell-l9 { width: 75%; }
    .row12 .cell-l10 { width: 83.33333333333333%; }
    .row12 .cell-l11 { width: 91.66666666666667%; }
    .row12 .cell-l12 { width: 100%; }

    .row12 .offset-l1 { margin-left: 8.333333333333333%; }
    .row12 .offset-l2 { margin-left: 16.66666666666667%; }
    .row12 .offset-l3 { margin-left: 25%; }
    .row12 .offset-l4 { margin-left: 33.33333333333333%; }
    .row12 .offset-l5 { margin-left: 41.66666666666667%; }
    .row12 .offset-l6 { margin-left: 50%; }
    .row12 .offset-l7 { margin-left: 58.33333333333333%; }
    .row12 .offset-l8 { margin-left: 66.66666666666667%; }
    .row12 .offset-l9 { margin-left: 75%; }
    .row12 .offset-l10 { margin-left: 83.33333333333333%; }
    .row12 .offset-l11 { margin-left: 91.66666666666667%; }
    .row12 .offset-l12 { margin-left: 100%; }
}

/* Grid. END */